<footer class="topnav">
    <div class+"footer-copyright">
        <div class="container">All articles belong to <a href="https://www.dailycamera.com/" target="_blank">The Daily Camera</a>
        <a class="grey-text text-lighten-4 right" href="/articles-json">Atricle JSON</a>
        </div>
    </div>
</footer>